@font-face {
    font-family: vikingo;
    src: url("../fonts/Viking.ttf");
}
body {background-color: Black;}
h2 {text-shadow: 2px 2px rgb(5, 5, 5);
    text-align: left;
    padding-left: 30px;}
h4 {text-align: left;
    padding-left: 250px;
    color: white}
p {padding-left: 60px;
    color: white;}
#container {
    background-image: url("../images/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 92%;
    height: 850px;
    /*width: 1900px;
    height: 850px;*/
    margin: auto;
    padding: 25px;
    font-family: vikingo;
    font-size: 2.5em;
}
#texto {
    background-color: rgba(155, 136, 52, 0.637);
    width: 35%;
    margin: 15px;
    padding: 15px;
    font-family: vikingo;
    font-size: 0.5em;
    color: white;
}

